<div class="sui-container">
    <form role="form" class="sui-form">
        <sui-alert [message]="validationSummary" [type]="alertType" heading="Error !" > </sui-alert>
        <div *ngFor="let field of fields" class="sui-row">
            <sui-input [field]="field"> </sui-input>
        </div>
        <div class="sui-container sui-right ">
          <sui-button (onClick)="onSuiFormSubmit()" [model]="successButton"> </sui-button>
          <sui-button (onClick)="onSuiFormCancel()" [model]="cancelButton"> </sui-button>
        </div>
    </form>
</div>